pandas          # Data manipulation library
matplotlib     # Plotting library
numpy                  # Numerical calculations
tqdm                   # Progress bar library
asammdf                # Library for handling MDF files
pyarrow>=18.0.0       # Library for handling Parquet files
sqlalchemy             # Library for handling SQL databases
