pandas          # Data manipulation library
matplotlib     # Plotting library
numpy                  # Numerical calculations
tqdm                   # Progress bar library
asammdf                # Library for handling MDF files
pyarrow                # Library for handling Parquet files
tkinter                # GUI library
sqlalchemy             # Library for handling SQL databases
